{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "plugins": ["babel"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false
  },
  "rules": {
    "object-curly-spacing": [2, "always"],
    "camelcase": [0, {"properties": "never"}]
  }
}
